<form class="example-form" [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <mat-form-field appearance="fill">
        <mat-label>Translate from</mat-label>
        <mat-select formControlName="langFrom">
            <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Translate to</mat-label>
        <mat-select formControlName="langTo">
            <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div 
        style='color:#ff7355' 
        *ngIf="settingsForm.get(['langFrom']).value === settingsForm.get(['langTo']).value"
    >
        Languages must be different
    </div>
    <br />
    <button mat-stroked-button color="primary" aria-label="Save settings" type="submit">Save settings</button>
</form>
